{% extends "layout.html" %}
{% block title %}Developer View{% endblock %}
{% block body %}

<div class="container">
  <form action="/add-adj-n" method="post">
      <fieldset>
          <legend>Add to "Animal Alliterations" category</legend>
          <div class="form-row">
              <label class="col-auto col-form-label" for="adjective">Adjective: </label>
              <div class="col-auto">
                <input class="form-control" type="text" id="adjective" name="adjective" list="adjective-list">
                <datalist id="adjective-list">
                  {% for adjective in adjectives %}
                    <option>{{ adjective[0] }}</option>
                  {% endfor %}
                </datalist>
              </div>
              <label class="col-auto col-form-label" for="noun">Animal: </label>
              <div class="col-auto">
                <input class="form-control" type="text" id="noun" name="noun" list="noun-list">
                <datalist id="noun-list">
                  {% for noun in nouns %}
                    <option>{{ noun[0] }}</option>
                  {% endfor %}
                </datalist>
              </div>
              <div class="col-auto">
                  <button class="btn btn-primary type="submit"">Add Entry</button>
              </div>
          </div>
      </fieldset>
  </form>
  <br>
  <form action="/add-phrase" method="post">
      <fieldset>
          <legend>Add a phrase</legend>
          <div class="form-row">
              <label class="col-auto col-form-label" for="phrase">Phrase: </label>
              <div class="col-auto">
                  <input class="form-control" type="text" id="phrase" name="phrase" list="phrase-list" autofocus>
                  <datalist id="phrase-list">
                    {% for phrase in phrases %}
                      <option>{{ phrase[0] }}</option>
                    {% endfor %}
                  </datalist>
              </div>
              <label class="col-auto col-form-label" for="category">Category: </label>
              <div class="col-auto">
                  <input class="form-control" type="text" id="category" name="category" list="category-list" required>
                  <datalist id="category-list">
                    {% for category in categories %}
                      <option>{{ category[0] }}</option>
                    {% endfor %}
                  </datalist>
              </div>
              <div class="col-auto">
                  <button class="btn btn-primary" type="submit">Add Entry</button>
              </div>
          </div>
      </fieldset>
  </form>
</div>

{% endblock %}
