{% extends "layout.html" %}
{% block title %}Developer View{% endblock %}
{% block body %}

<div class="container">

  <form class="form-inline" action="/add-adj-n" method="post">
        <label class="my-1 mr-2" for="adjective">Add an adjective: </label>
        <input class="my-1 mr-sm-2" type="text" class="form-control" id="adjective" name="adjective" list="adjective-list" autofocus>
        <datalist id="adjective-list">
          {% for adjective in adjectives %}
            <option>{{ adjective[0] }}</option>
          {% endfor %}
        </datalist>
        <label class="my-1 mr-2" for="noun">Add a noun: </label>
        <input class="my-1 mr-sm-2" type="text" class="form-control" id="noun" name="noun" list="noun-list">
        <datalist id="noun-list">
          {% for noun in nouns %}
            <option>{{ noun[0] }}</option>
          {% endfor %}
        </datalist>
        <button type="submit" class="btn btn-primary my-1 mr-2">Add Entry</button>
  </form>

  <!-- form for adding full phrase -->
  <!-- search bar with auto-complete -->


  <h1>Add phrases</h1>
  <select name="categories" id="categories">
    <option value="">--Choose a category--</option>
    {% for category in categories %}
      <option value="category">{{ category[0] }}</option>
    {% endfor %}
  </select>
</div>

{% endblock %}
