{% extends "layout.html" %}
{% block title %}Stepping Bee{% endblock %}
{% block body %}
<div class="container">
  <h1>Welcome to Stepping Bee!</h1>
  <form action="./game" method="get">
    <select name="category" id="category" required>
      <option value="">--Choose a category--</option>
      {% for category in categories %}
        <option value="{{ category[0] }}">{{ category[0] }}</option>
      {% endfor %}
    </select>
    <button>Let's Get Stepping!</button>
  </form>
</div>
{% endblock %}
