<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <title>Keyboard Game</title>
  </head>
  <body>
    <h1>Welcome to Stepping Bee!</h1>
    <form action="./game.html" method="get">
        <button>Let's Get Stepping!</button>
    </form>
    <!-- <p id="scoreDisplay">SCORE: <span id="scoreValue">0</span></p>
    <div>
      <p id="phrase">Welcome to Stepping Bee!</p>
      <div>
        Time Remaining:
        <input id="minutes" type="text">:
        <input id="seconds" type="text">
      </div>
      <button onclick="countdown();">Let's Get Stepping!</button>
    </div>
    <script src="scripts.js"></script> -->
  </body>
</html>
